menu "Inputs"
	
	config JOY_A_PIN
        int "Joystick A analog Pin"
        default 34
        range 34 34
        help
            The pin that will be used for stick A analog input.

    config JOY_B_PIN
        int "Joystick B analog Pin"
        default 35
        range 35 35
        help
            The pin that will be used for stick B analog input.

    config BUTTON_A_PIN
        int "Joystick A click Pin"
        default 3
        range 1 34
        help
            The pin that will be used for button A (joystick click).

    config BUTTON_B_PIN
        int "Joystick B click Pin"
        default 21
        range 1 34
        help
            The pin that will be used for utton B (joystick click).

    config POT_A_PIN
        int "Potentiometer A pin"
        default 32
        range 32 32
        help
            The pin that will be used for potentiometer A analog input.

    config POT_B_PIN
        int "Potentiometer A pin"
        default 33
        range 33 33
        help
            The pin that will be used for potentiometer B analog input.

endmenu